body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header {
    background-color: #141414;
    padding: 20px;
} 
.titulo_netflix {
    color: red;
    font-size: 60px;
}

.titulo_pelicula {
    color: white;
    font-size: 60px;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

/* Seccion peliculas */

.contenedor_peliculas {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.peliculas {
    padding: 10px;
}

.lista_peliculas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.imageMovie {
    width: 200px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s;
}

.imageMovie:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #141414;
    color: white;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.contenedor_integrantes {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.integrante {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logo_footer {
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;

}

footer p {
    font-size: 20px;
    font-weight: bold;
}